@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prismjs/themes/prism-tomorrow.css';

body {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}
